vsphere_user = "{{ vsphere_user }}"
vsphere_password = "{{ vsphere_password }}"
vsphere_server = "{{ vsphere_server }}"
vsphere_datacenter = "{{ vsphere_datacenter }}"
vsphere_datastore = "{{ vsphere_datastore }}"
vsphere_isodatastore = "{{ vsphere_isodatastore }}"
vsphere_pool = "{{ vsphere_pool }}"
vsphere_network = "{{ vsphere_network }}"
vsphere_hostname = "{{ vsphere_hostname }}"
vsphere_cpu = "{{vsphere_cpu  }}"
vsphere_memory = "{{ vsphere_memory }}"
vsphere_guest_id = "{{ vsphere_guest_id }}"
vsphere_disk_label = "{{ vsphere_hostname }}-disk0"
vsphere_disk_size = "{{ vsphere_disk_size }}"
vsphere_iso= "{{ vsphere_iso }}"
