variable "vsphere_user" {
  description = "vpshere username"
  default     = "{{ vsphere_username }}"
}
variable "vsphere_password" {
  description = "vpshere password"
  default     = "{{ vsphere_password }}"
}
variable "vsphere_server" {
  description = "vpshere server ip"
  default     = "{{ vsphere_server }}"
}
variable "vpshere_dc" {
  description = "vpshere datacenter"
  default     = "{{ vsphere_dc }}"
}
variable "vpshere_datastore" {
  description = "vpshere datastore"
  default     = "{{ vsphere_datastore }}"
}
